$colors: (
    common: (
        white: #fff,
        black: #000,
        black-2: #130F40,
        black-3: #0F1216
    ),
    body: (
        heading: #000,
        text: #0a1426,
        soft_bg: #f6f6f6,
        soft-bg-2: #E8ECF0,
        soft-bg-3: #F5F5F5,
        gray: #4D5765,
        gray-2: #C4C4C4,
        gray-3: #9FA9B8,
        gray-4: #B9B9CA,
        gray-5: #8E8CA4,
        gray-6: #94999E
    ),
    theme: (
        1: #2f75ff,
        2: #fb5050,
        3: #0487FF,
        4: #6A55FF,
        5: #21AD94,
    ),
)

