// Font Family 
$font-Extralight: "Inter Extra light";
$font-light: "Inter light";
$font-Regular: "Inter Regular";
$font-Medium: "Inter Medium";
$font-SemiBold: "Inter Semi Bold";
$font-Bold: "Inter Bold";
$font-ExtraBold: "Inter Extra Bold";

  

// Colors ---------------
$white: #ffffff;
$black: #222222;

$primary000: #f7dfff;
$primary100: #e69cff;
$primary300: #bf00ff;
$primary600: #8f16c9;
$natural00: #dee2e6;
$natural300: #666666;
$natural600: #202020;
$danger: #e50351;
$warning100: #fff1d8;
$warning: #fbad26;


